			

<%if (lang=="en") {%>
	  			<div class="footer" id="footer">
					<div class="top">You may have seen us in</div>
					<div class="bottom">
						<div class="content">
							<div class="partnerLogos">
								<div class="partnerLogo">
									<a href=""><img src="<%=bucket%>/logos/bw-logo2.jpeg"></a>
								</div>
								<div class="partnerLogo">
									<a href=""><img src="<%=bucket%>/logos/crown-plaza-logo2.jpeg"></a>
								</div>
								<div class="partnerLogo">
									<a href=""><img src="<%=bucket%>/logos/galerija-logo2.jpeg"></a>
								</div>
								<div class="partnerLogo">
									<a href=""><img src="<%=bucket%>/logos/adore-logo2.jpeg"></a>
								</div>
							</div>
							<div class="inlinesWrap">
								<div class="inline">
									<div class="title">Our address</div>
									<div class="line">Serbia, Belgrade</div>
									<div class="line"><a href="https://www.google.com/maps?rlz=1C5CHFA_enRS939RS941&gs_lcrp=EgZjaHJvbWUqCggAEAAY4wIYgAQyCggAEAAY4wIYgAQyDQgBEC4YrwEYxwEYgAQyCQgCEC4YChiABDIGCAMQRRg8MgYIBBBFGDwyBggFEEUYPTIGCAYQRRg8MgYIBxBFGDyoAgCwAgA&um=1&ie=UTF-8&fb=1&gl=rs&sa=X&geocode=Kc0NibvjZ1pHMRbQNty5ZW0E&daddr=Autoput+Za+Novi+Sad+69,+Beograd+11080" traget="_blank">Autoput za Novi Sad 69</a></div>
									<div class="line"><a href="mailto:office@terapot.eu">office@terapot.eu</a></div>
								</div>
								<div class="inline">
									<div class="title">Contact</div>
									<div class="line"><a href="tel:+38163227290">+381 63 227 290</a></div>
									<div class="line"><a href="tel:+381600227290">+381 60 022 72 90</a></div>
									<div class="line"><a href="/">www.terapot.eu</a></div>
								</div>
								<div class="inline">
									<div class="title"><a href="/catalog">Online catalog</a></div>
								</div>
							</div>
							<div class="copyright">
								2023 Terapot All Rights Reserved. Privacy Policy
							</div>
						</div>
					</div>
				</div>
			</div><!--#site-wrap-->
		</body>
	</html>
<%}else{%>
	  			<div class="footer" id="footer">
					<div class="top">Možda ste nas primetili u</div>
					<div class="bottom">
						<div class="content">
							<div class="partnerLogos">
								<div class="partnerLogo">
									<a href=""><img src="<%=bucket%>/logos/bw-logo2.jpeg"></a>
								</div>
								<div class="partnerLogo">
									<a href=""><img src="<%=bucket%>/logos/crown-plaza-logo2.jpeg"></a>
								</div>
								<div class="partnerLogo">
									<a href=""><img src="<%=bucket%>/logos/galerija-logo2.jpeg"></a>
								</div>
								<div class="partnerLogo">
									<a href=""><img src="<%=bucket%>/logos/adore-logo2.jpeg"></a>
								</div>
							</div>
							<div class="inlinesWrap">
								<div class="inline">
									<div class="title">Naša adresa</div>
									<div class="line">Srbija, Beograd</div>
									<div class="line"><a href="https://www.google.com/maps?rlz=1C5CHFA_enRS939RS941&gs_lcrp=EgZjaHJvbWUqCggAEAAY4wIYgAQyCggAEAAY4wIYgAQyDQgBEC4YrwEYxwEYgAQyCQgCEC4YChiABDIGCAMQRRg8MgYIBBBFGDwyBggFEEUYPTIGCAYQRRg8MgYIBxBFGDyoAgCwAgA&um=1&ie=UTF-8&fb=1&gl=rs&sa=X&geocode=Kc0NibvjZ1pHMRbQNty5ZW0E&daddr=Autoput+Za+Novi+Sad+69,+Beograd+11080" traget="_blank">Autoput za Novi Sad 69</a></div>
									<div class="line"><a href="mailto:office@terapot.eu">office@terapot.eu</a></div>
								</div>
								<div class="inline">
									<div class="title">Kontakt</div>
									<div class="line"><a href="tel:+38163227290">+381 63 227 290</a></div>
									<div class="line"><a href="tel:+381600227290">+381 60 022 72 90</a></div>
									<div class="line"><a href="/">www.terapot.eu</a></div>
								</div>
								<div class="inline">
									<div class="title"><a href="/catalog">Digitalni katalog</a></div>
								</div>
							</div>
							<div class="copyright">
								2023 Terapot Sva prava zadržana. Pravila privatnosti.
							</div>
						</div>
					</div>
				</div>
			</div><!--#site-wrap-->
		</body>
	</html>
<%}%>