<!DOCTYPE html>
<html lang="<%=lang%>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Terapot</title>

    <!-- Bootstrap -->
    <link href="/css/style.css?v=<%=new Date().getTime()%>" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/favicon.png">
    <link rel="apple-touch-icon" href="/favicon.png">
    <meta property="og:title" content="Terapot" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://terapot.eu/" />
    <meta property="og:image" content="https://terapot.eu<%=ogImage%>" />
    <meta property="og:description" content="HANDCRAFTED POTS FOR TIMELESS DURABILITY" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body id="body"> 
    <script>
      var vw = Math.max(document.documentElement.clientWidth || 0, window.innerWidth || 0);
      let vh = window.innerHeight * 0.01;
      // Then we set the value in the --vh custom property to the root of the document
      document.documentElement.style.setProperty('--vh', `${vh}px`);
      window.addEventListener('resize', () => {
        vw = Math.max(document.documentElement.clientWidth || 0, window.innerWidth || 0);
        let vh = window.innerHeight * 0.01;
        document.documentElement.style.setProperty('--vh', `${vh}px`);
        if(document.getElementById("new-arrivals")){
          initializeArrivalSlides()
        }
      });
      function getTouches(evt) {
        return evt.touches ||             // browser API
               evt.originalEvent.touches; // jQuery
      }
      window.onscroll = function() {scrollFunction()};

      function scrollFunction(){
        if (document.body.scrollTop > 40 || document.documentElement.scrollTop > 40 && !document.getElementById("pot-page")) {
          document.getElementById("site-menu").classList.add("siteMenuScrolled");
        }else if(document.body.scrollTop > 40 || document.documentElement.scrollTop > 40 && document.getElementById("pot-page")){
          document.getElementById("site-menu").classList.add("siteMenuScrolledPot");
        }else{
          document.getElementById("site-menu").classList.remove("siteMenuScrolled");
          if(document.getElementById("site-menu").classList.contains("siteMenuScrolledPot")){
            document.getElementById("site-menu").classList.remove("siteMenuScrolledPot");
          }
        }
      }

      function disableScroll() {
        // Get the current page scroll position
        scrollTop =
            window.pageYOffset ||
            document.documentElement.scrollTop;
        scrollLeft =
            window.pageXOffset ||
            document.documentElement.scrollLeft,

            // if any scroll is attempted,
            // set this to the previous value
            window.onscroll = function () {
                window.scrollTo(scrollLeft, scrollTop);
            };
        }
 
        function enableScroll() {
            window.onscroll = function () { };
        }

        var urlTranslations = [
                {
                  "eng":"pots",
                  "rs":"saksije"
                },
                {
                  "eng":"why-fiberglass",
                  "rs":"zasto-fiberglass"
                },
                {
                  "eng":"catalog",
                  "rs":"katalog"
                },
                {
                  "eng":"about",
                  "rs":"o-nama"
                }
              ];
         function translateUrl(sourceLang,string){
          var translatedString = "#";
          if(sourceLang=="en"){
            for(var i=0;i<urlTranslations.length;i++){
              if(string.includes(urlTranslations[i].eng)){
                translatedString = string.replace(urlTranslations[i].eng,urlTranslations[i].rs);
                break
              }
            }
          }else{
            for(var i=0;i<urlTranslations.length;i++){
              if(string.includes(urlTranslations[i].rs)){
                translatedString = string.replace(urlTranslations[i].rs,urlTranslations[i].eng);
                break;
              }
            }
          }

          return translatedString;
        }

        //language detection
        var detectedUrl = window.location.href;
        var urlPath = "/";
        if(detectedUrl.split(":3000").length>1){
          //localhost
          if("<%=lang%>"=="sr"){
            //currently on rs
            urlPath = translateUrl("<%=lang%>",detectedUrl.split(":3000/rs")[1]);
          }else{
            //currently on eng
            urlPath = translateUrl("<%=lang%>",detectedUrl.split(":3000")[1]);
          }
        }else{
          //live
          if("<%=lang%>"=="sr"){
            //currently on rs
            urlPath = translateUrl("<%=lang%>",detectedUrl.split(".eu/rs")[1]);
          }else{
            //currently on eng
            urlPath = translateUrl("<%=lang%>",detectedUrl.split(".eu")[1]);
          }
        }
    </script>

    <%if (lang=="en") {%>
      <%- include ("partials/menu") -%>
    <%}else{%>
      <%- include ("partials/menurs") -%>
    <%}%>
    <script>
      document.getElementById("eng").href = "<%=lang%>"=="en" ? detectedUrl : urlPath;
      document.getElementById("rs").href = "<%=lang%>"=="sr" ? detectedUrl : "/rs"+urlPath;
    </script>
    <div id="site-wrap">