<%- include ("partials/header") -%>
<script src="/js/page-flip.browser.js"></script>
<div class="catalog">
	<div id="catalog">
		<div class="my-page" data-density="hard">
			<img src="<%=bucket%>/catalog/1.jpg">
		</div>
		<div class="my-page">
			<img src="<%=bucket%>/catalog/2.jpg">
		</div>
		<div class="my-page">
			<img src="<%=bucket%>/catalog/3.jpg">
		</div>
		<div class="my-page">
			<img src="<%=bucket%>/catalog/4.jpg">
		</div>
		<div class="my-page">
			<img src="<%=bucket%>/catalog/5.jpg">
		</div>
		<div class="my-page">
			<img src="<%=bucket%>/catalog/6.jpg">
		</div>
		<div class="my-page">
			<img src="<%=bucket%>/catalog/7.jpg">
		</div>
		<div class="my-page">
			<img src="<%=bucket%>/catalog/8.jpg">
		</div>
		<div class="my-page">
			<img src="<%=bucket%>/catalog/9.jpg">
		</div>
		<div class="my-page">
			<img src="<%=bucket%>/catalog/10.jpg">
		</div>
		<div class="my-page">
			<img src="<%=bucket%>/catalog/11.jpg">
		</div>
		<div class="my-page">
			<img src="<%=bucket%>/catalog/12.jpg">
		</div>
		<div class="my-page">
			<img src="<%=bucket%>/catalog/13.jpg">
		</div>
		<div class="my-page">
			<img src="<%=bucket%>/catalog/14.jpg">
		</div>
		<div class="my-page">
			<img src="<%=bucket%>/catalog/15.jpg">
		</div>
		<div class="my-page">
			<img src="<%=bucket%>/catalog/16.jpg">
		</div>
		<div class="my-page">
			<img src="<%=bucket%>/catalog/17.jpg">
		</div>
		<div class="my-page">
			<img src="<%=bucket%>/catalog/18.jpg">
		</div>
		<div class="my-page">
			<img src="<%=bucket%>/catalog/19.jpg">
		</div>
		<div class="my-page">
			<img src="<%=bucket%>/catalog/20.jpg">
		</div>
		<div class="my-page">
			<img src="<%=bucket%>/catalog/21.jpg">
		</div>
		<div class="my-page">
			<img src="<%=bucket%>/catalog/22.jpg">
		</div>
		<div class="my-page">
			<img src="<%=bucket%>/catalog/23.jpg">
		</div>
		<div class="my-page">
			<img src="<%=bucket%>/catalog/24.jpg">
		</div>
		<div class="my-page">
			<img src="<%=bucket%>/catalog/25.jpg">
		</div>
		<div class="my-page">
			<img src="<%=bucket%>/catalog/26.jpg">
		</div>
		<div class="my-page">
			<img src="<%=bucket%>/catalog/27.jpg">
		</div>
		<div class="my-page">
			<img src="<%=bucket%>/catalog/28.jpg">
		</div>
		<div class="my-page">
			<img src="<%=bucket%>/catalog/29.jpg">
		</div>
		<div class="my-page">
			<img src="<%=bucket%>/catalog/30.jpg">
		</div>
		<div class="my-page">
			<img src="<%=bucket%>/catalog/31.jpg">
		</div>
		<div class="my-page">
			<img src="<%=bucket%>/catalog/32.jpg">
		</div>
		<div class="my-page">
			<img src="<%=bucket%>/catalog/33.jpg">
		</div>
		<div class="my-page">
			<img src="<%=bucket%>/catalog/34.jpg">
		</div>
		<div class="my-page">
			<img src="<%=bucket%>/catalog/35.jpg">
		</div>
		<div class="my-page">
			<img src="<%=bucket%>/catalog/36.jpg">
		</div>
		<div class="my-page">
			<img src="<%=bucket%>/catalog/37.jpg">
		</div>
		<div class="my-page">
			<img src="<%=bucket%>/catalog/38.jpg">
		</div>
		<div class="my-page">
			<img src="<%=bucket%>/catalog/39.jpg">
		</div>
		<div class="my-page">
			<img src="<%=bucket%>/catalog/40.jpg">
		</div>
		<div class="my-page">
			<img src="<%=bucket%>/catalog/41.jpg">
		</div>
		<div class="my-page">
			<img src="<%=bucket%>/catalog/42.jpg">
		</div>
		<div class="my-page">
			<img src="<%=bucket%>/catalog/43.jpg">
		</div>
		<div class="my-page" data-density="hard">
			<img src="<%=bucket%>/catalog/44.jpg">
		</div>
	</div>
</div>
<script>
	
	const pageFlip = new St.PageFlip(document.getElementById('catalog'),
	    {
	        width: 637, // required parameter - base page width
	        height: 900,  // required parameter - base page height
	        maxWidth: 637,
	        maxHeight:900,
	        minWidth: 297, 
	        minHeight: 420,
	        showCover: true,
	        size: "stretch",
	    }
	);

	pageFlip.loadFromHTML(document.querySelectorAll('.my-page'));
</script>
<%- include ("partials/footer") -%>